nav
{
  font-family: Arial;
  font-size: 120%;
}

body
{
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Calibri;
  font-size: 140%;
  justify-content: center;
  background: rgb(75, 75, 75);
  background-size: auto;
  background-position: center;
}__errors { display:none }


div
{
  width: 60%;
  border-radius: 50px;
  border: 10px solid rgb(0, 0, 0);
  background: grey;
  padding: 20px;
}

.extra
{
  background: white;
}
